

.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-about-us .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-about-us .content {

    text-align: center;
    max-width: 800px;
    margin: auto;
}

#bg-about-us .content p {
    font-size: 19px;
    color: #fff;
}

#company-informations {
    margin: auto;
}

.company-informations-img img{
    width: 300px;
}
.company-informations-content h3 {
    margin: 5px 0px;
    text-transform: uppercase;
    position: relative;
}

.company-informations-content .content {
    padding-top: 20px;
    text-align: justify;
}
/*whate-we-have*/
#what-we-have{
    background-color: #f6f6f6;
}

#what-we-have h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#what-we-have h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}

#what-we-have .avatar-title {
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999;
    margin-top: 55px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    margin: 50px auto;
    border: 2px solid #126cae;
    max-width: 120px;
    max-height: 120px;
    padding: 25px;
    border-radius: 50%;
    transition: 850ms ease-in-out;
}
#what-we-have .row-title-item {
    /*height: 500px;*/
}
#what-we-have .row-title-item:hover .avatar-title{
    background-color: #02bdd4;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #02bdd4;
}

#what-we-have .row-title-item .content {
    letter-spacing: .02em;
    color: #838386;
    opacity: 1;
    margin: 50px 0px;  
    text-align: justify;
}
/*end what-whaveve*/
/*core value*/
#core-value {
    background-color: #082c44;
}

#core-value h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #fff;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #fff), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#fff 81%, #fff0 81%, #fff0 89%, #fff 89%, #fff 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#core-value h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
}
#core-value .row-title-item {
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 15px;
    /*height: 540px;*/
}
#core-value .row-title-item .avatar-title {
    text-align: center;
    margin: auto;
    z-index: 2;
    padding-top: 60px;
}
#core-value .row-title-item .avatar-title img {
    margin-top: 0px;
    z-index: 1;
}
#core-value .row-title-item .title {
    font-size: 20px;
    font-weight: bold;
    color: #0e3a55;
    text-transform: uppercase;
    padding-bottom: 15px;
}
#core-value .row-title-item .content {
    text-align: center;
    min-height: 170px;
    padding: 0 30px 30px 30px;
    font-size: 17px;
}
/*end core value*/
/*company img*/
#company-img h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#company-img h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border-radius: 3px;
}
.pagination > li > a, .pagination > li > span{
    padding: 2px 12px;
}
/*end company img*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-about-us .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #bg-about-us .title{
        font-size: 25px;
    }
}
@media screen and (max-width: 851px) {
    #about-us .about-introduction, #about-us .about-introduction .content {
        padding: 20px 15px !important;
    }
    #about-us .company_informations {
        /*padding: 0px 50px;*/
    }
    #about-us .company_informations .company_informations_img img{
        width: 200px;
        margin-top: 60px;
    }
    #about-us .company_informations .company_informations_content .title {
        font-size: 20px;
    }
    #about-us .company_informations .company_informations_content .content {
        font-size: 14px;
        padding-left: 0px;
    }
    #about-us .about-our-item {
        padding: 0 10px;
    }
    #about-us .about-our-item .content {
        width: 100%;
    }
    #about-us .background-about-us {
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: auto 100%;
    }
}
