#career {
    /*color: #2184f9;*/
}
#career .bg-career .bg-title {
    font-size: 40px;
    font-weight: bold;
    padding-top: 120px;
    color: white;
    text-transform: uppercase;
}
#career .bg-career .content {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    max-width: 800px;
    margin: auto;
}

#career .row-title {
    padding: 20px 0;
    text-align: center;
}
#career .row-title .row-title-item {
    padding-bottom: 30px;
}
#career .row-title .row-title-item .avatar-title {
    padding: 10px 0;
}
#career .row-title .row-title-item .avatar-title img {
    border-radius: 50%;
    width: 120px;
    border: 1px solid #2184f9;
}
#career .row-title .row-title-item .title {
    font-size: 24px;
}
.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-career .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-career .content {

    text-align: center;
    max-width: 800px;
    margin: auto;
}
#bg-career .content p {
    font-size: 19px;
    color: #fff;
}


/*job opening*/
#job-opening h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#job-opening h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
#job-opening {
    background-color: #fafafa;
    padding-bottom: 80px;
    /*padding: 0 80px 100px 80px;*/
}

#job-opening .list-job {
    border: 1px solid #082c44;
    padding: 20px;
    margin: 10px;
}
#job-opening .list-job .job-item:first-child {
    padding-top: 0 !important;
}
#job-opening .list-job .job-item {
    padding: 20px 0;
    border-bottom: 1px solid #082c44;
}
#job-opening .list-job .job-item .col-item {
    padding-left: 0px;
    padding-right: 0px;
}
#job-opening .list-job .job-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
#job-opening .list-job .job-item .title {
    font-size: 18px;
    /*font-weight: bold;*/
}
#job-opening .list-job .job-item .title a {
    color: #2699FB;
}
#job-opening .list-job .job-item .title a:hover {
    color: #006DF0;
}
#job-opening .list-job .job-item .time,
#job-opening .list-job .job-item .location {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}
#job-opening .list-job .job-item .btn-apply {
    text-align: right;
}
#job-opening .list-job .job-item .btn-apply .btn {
    background-color: white;
    color: #2699FB;
    border-color: #2699FB;
    padding: 5px 20px;
    transition: 450ms ease;
}
#job-opening .list-job .job-item .btn-apply:hover .btn{
    background-color: #2699FB;
    color: white;
    border-color: #2699FB;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*welfare*/

#welfare {
    padding: 8blan20px 0px 100px 0px;
}
#welfare h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#welfare h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
#welfare .welfare-item-list .welfare-item {
    padding-bottom: 25px;
    height: 380px;
}
#welfare .welfare-item-list .welfare-item:last-child {
    padding-bottom: 0px;
}
#welfare .welfare-item-list .welfare-item .title {
    font-size: 22px;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}
#welfare .welfare-item-list .welfare-img {
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999;
    margin-top: 55px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    margin: 50px auto;
    border: 2px solid #126cae;
    max-width: 120px;
    max-height: 120px;
    padding: 25px;
    border-radius: 50%;
    transition: 850ms ease-in-out;
}
#welfare .welfare-item-list .welfare-img .image {
    width: 100%;
    height: 100%;
}
#welfare .welfare-item-list .welfare-item:hover  .welfare-img{
    background-color: #02bdd4;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #02bdd4;
}

#welfare .welfare-item-list .welfare-item .content {
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #2699FB;
}
/*end welfare*/

/*team testimonial*/

#team-testimonial {
    background-color: #082c44;
    padding-bottom: 100px;
}
#team-testimonial h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #fff), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #fff), to(#fff));
    background: linear-gradient(to right,#fff 81%, #fff0 81%, #fff0 89%, #fff 89%, #fff 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#team-testimonial h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
    color: white;
    padding-bottom: 30px;
}
#team-testimonial .team-testimonial-item .team-testimonial-image .image{
    width: 250px;
    height: 250px; 
    vertical-align: center; 
    border-radius: 10px;
    text-align: center;
}

#team-testimonial .team-testimonial-item .team-testimonial-content p{
    color: white;
}
#team-testimonial .team-testimonial-item .team-testimonial-content .title {
    padding: 20px 0px 0px 0px;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
}

#team-testimonial .team-testimonial-item .team-testimonial-content .position {
    padding: 15px 0;
    font-style: italic;
    color: white;   
}
#team-testimonial .team-testimonial-item .team-testimonial-content .content {
    font-size: 14px;
    line-height: 2;
}

/*end team testimonial*/

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-career .title {
        font-size: 30px;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .title {
        text-align: center;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .position {
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    #bg-career .title {
        font-size: 25px;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .title {
        text-align: center !important;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .position {
        text-align: center !important;
    }

}
@media screen and (max-width: 768px) {
    #team-testimonial .team-testimonial-item .team-testimonial-content .title {
        text-align: center;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .position {
        text-align: center;
    }
    #team-testimonial .team-testimonial-item .team-testimonial-content .content {
        text-align: center;
    }
    #team-testimonial .team-testimonial-item {
        padding-top: 30px;
    }
    #job-opening .list-job .job-item .location {
        display: none;
    }

}
