
ul {
	list-style-type: none;
}
.section-lg {
	padding: 60px 0;
}
.title {
    background: none !important;
}
.orange{
	background-color: #f58220;
}
.blue {
	background-color: #2774b8;
}
.green {
	background-color: #229e63;
}
.redtext {
	color: #EE3C32;
}
/*keySA*/

#keySA .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#keySA .content {

    text-align: center;
    max-width: 800px;
    margin: auto;
}
#keySA .content p {
    font-size: 19px;
    color: #fff;
}
/*end keySA*/
/*intro*/
#intro .intro {
	font-size: 20px;
	line-height: 1.5;
}

/*end intro*/
/*why-choose-us*/
#why-choose-us .why-choose-us-heading {
    text-align: center;
    padding-bottom:1em;
}
#why-choose-us .why-choose-us-heading h2,.why-choose-us-heading h3 {
    font-size: 2.5em;
    color: #ee3c32;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}
/*#why-choose-us .agileits-line {
	position: relative;
    content: "";
    height: 1px;
    background: #cecece;
    width: 14%;
    margin: 0 auto;
    top: 11px;
}
#why-choose-us .agileits-line:before {
    content: "";
    height: 3px;
    background: #ee3c32;
    position: absolute;
    width: 25%;
    top: -1px;
    left: 61px;
}*/
#why-choose-us {	
}
#why-choose-us .why-choose-us-content {
	margin-top: 70px;
}
#why-choose-us .why-choose-us-content .why-choose-us-item {
	border: 1px solid #fff;
	background-color: #fff;
	min-height: 370px;
	padding: 15px 10px;
}
#why-choose-us .why-choose-us-content img {
	width: 50px;
	height: 50px;
}
#why-choose-us .why-choose-us-content h4 {
	font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.4em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
#why-choose-ud .why-choose-us-content p {
	font-size: 15px;
    line-height: 1.8em;
    color: #777;
}
/*end why-choose-us*/
/*gaikokujinnavi*/
#gaikokujinnavi {
	background-color: #fafafa;
	padding: 50px 0;
}
#gaikokujinnavi img{
	max-width: 500px;
}
#gaikokujinnavi .w3-button a{
color: #f36160;

font-size: 1em;

padding: .5em 1em;

border: solid 3px #f36160;

text-decoration: none;

border-radius: 0;

margin-top: 20px;
}
#gaikokujinnavi .w3-button a:hover{
	color:#FFFFFF;
	border-color: #aebe27;
}
#gaikokujinnavi .w3-button {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
/* General button style (reset) */
#gaikokujinnavi .btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#gaikokujinnavi .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1b */
#gaikokujinnavi .btn-1 {
	border: 3px solid #fff;
	color: #fff;
}
#gaikokujinnavi .btn-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #aebe27;
}

#gaikokujinnavi .btn-1b:hover,
#gaikokujinnavi .btn-1b:active {
	color: #0e83cd;
}

#gaikokujinnavi .btn-1b:hover:after,
#gaikokujinnavi .btn-1b:active:after {
	height: 100%;
}
#gaikokujinnavi .introgaikokujinnavi {
	font-size: 20px;
	line-height: 1.5;
}
/*end gaikokujinnavi*/
/*main content*/
#informations {
	/*background-color: #fafafa*/
}
#informations .informations-heading {
    text-align: center;
    padding-bottom:1em;
}
#informations .informations-heading h2,.informations-heading h3 {
    font-size: 2.5em;
    color: #ee3c32;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}
.agileits-line {
	position: relative;
    content: "";
    height: 1px;
    background: #cecece;
    width: 14%;
    margin: 0 auto;
    top: 11px;
}
.agileits-line:before {
    content: "";
    height: 3px;
    background: #ee3c32;
    position: absolute;
    width: 25%;
    top: -1px;
    left: 61px;
}
#informations .informations-grid-left {
    float: left;
    width: 50%;
}
#informations .informations-grid-right {
    text-align: center;
}
#informations .informations-grid-left {
    border: 1px solid #A5A3A3;
    padding: 2em 2em;
}
#informations .informations-text h4 {
    font-size: 1.5em;
    color: #000;
}
#informations .informations-text p {
    font-size: .9em;
    color: #46423F;
    line-height: 1.8em;
    margin: 0;
}
#informations .informations-icon {
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #999;
    text-align: center;
    padding: 0.5em;
    color: #ee3c32;
    font-size: 2em;
    line-height: 1.2em;
}
#informations .informations-text {
    float: right;
    width: 78%;
}
#informations .informations-text a{
    text-decoration: none;
    color:#ee3c32;
}
#informations .informations-text:hover a{
    color:#aebe27;
}
#informations .informations-text h4 {
    font-size: 1.5em;
    color: #000;
    margin: 0 0 .5em 0;
}
#informations .informations-grid-right img {
    border: 1px solid #999999;
    border-radius: 90px;
}
#informations .informations-grid {
    width: 80%;
    margin: 3em auto 0em;
}
/*information-bottom*/
#informations-bottom .text-grid{
	background:url(../../images/page/citynowsa/background-header.jpg) no-repeat center center;
	background-size:cover;

	text-align:center;
	padding: 80px 0;
}
#informations-bottom .text-grid h4{
    color: #FFFFFF;
    font-size: 3em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
#informations-bottom .text-grid p{
	color: #FFFFFF;
    font-size: 1.1em;
    margin: 2em auto 0;
    line-height: 1.8em;
    width: 70%;
}
/*end infomation-bottom*/
/*end main content*/
/*company-information*/
#company-infomations .company-infomations-heading {
	text-align: center;
    padding-bottom:1em;
}
#company-infomations .company-infomations-heading h2,#company-infomations .company-infomations-heading h3 {
    font-size: 2.5em;
    color: #ee3c32;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}
.agileits-line {
	position: relative;
    content: "";
    height: 1px;
    background: #cecece;
    width: 14%;
    margin: 0 auto;
    top: 11px;
}
.agileits-line:before {
    content: "";
    height: 3px;
    background: #ee3c32;
    position: absolute;
    width: 25%;
    top: -1px;
    left: 61px;
}
#company-infomations .company-infomations-content {
	margin-top: 30px;
}
#company-infomations .company-infomations-content .company-table {
	margin-top: 30px;
}
#company-infomations .company-infomations-img {
	margin-top: 30px;
}
#company-infomations .company-infomations-img img{
	width: 100%;
	text-align: center;
	padding-top: 30px;
}
/*end company infomation*/
/*contact*/
#contact .map {
    position: relative;
}
#contact .map iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}
#contact .address {
	position: absolute;
	top: 17%;
	background: #0e080899;
	padding: 4em 8em 4em 8em;
	text-align: left;
	width: 43%;
}
#contact .map .w3ls-title h3 {
    width: 100%;
    margin: 0 0 1em;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#contact .address h4 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}
#contact .address p {
    color: #fff;
    margin-bottom: .6em;
    text-align: left;
	font-size:.9em;
}
#contact .address p a {
    font-size: .9em;
    color: #fff;
}
#contact .address p a:hover { 
    color: #fff;
}
#contact .map .social-icons li a {
    margin-right: 0.1em;
}
/*end contact*/
/*school*/
#client .clientSA-heading {
	
}
#clientSA .clientSA-heading {
	text-align: center;
    padding: 2em 0;
}
#clientSA .clientSA-heading h2, #client .clientSA-heading h3 {
    font-size: 2.5em;
    color: #ee3c32;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}
#clientSA .logo-image.item {
	padding: 0 10px;
	margin: 50px 0 100px 0;

}
/*end school*/

@media(max-width:1080px){
	.agileits-line:before {
		left: 50px;
	}
	#informations .informations-icon {
		width: 60px;
		height: 60px;
		line-height: 1em;
	}
	#informations-bottom .text-grid h4 {
		font-size: 3em;
	}
	#contact .address {
	    padding: 4em 8em 4em 3em;
	}
	#keySA .title {
	    font-size: 30px;
	}
	#contact .map .w3ls-title h3 {
		font-size: 1.5em;
	}
}
@media(max-width:991px){
	#informations .informations-grid {
		width: 100%;
	}
	#informations .informations-grid-left {
		width: 70%;
	}
	#informations .informations-grid-right {
		float: left;
	}
	#informations-bottom .text-grid h4 {
		font-size: 3em;
	}
	#informations-bottom .text-grid p {
		width: 90%;
	}
	.agileits-line:before {
		left: 36px;
	}
	#contact .address {
		padding: 4em 4em 4em 3em;
	}
	#keySA .title {
	    font-size: 25px;
	}
}
@media(max-width:736px){
	#informations-bottom .text-grid h4 {
		font-size: 2.5em;
	}
}
@media(max-width:667px){
	.agileits-line {
		width: 23%;
	}
	#contact .address {
		width: 61%;
	}
}
@media(max-width:640px){
	#informations .informations-grid-left {
		width: 68%;
	}
	#contact .map .w3ls-title h3 {
		font-size: 1.5em;
	}
}
@media(max-width:600px){
	#informations .informations-grid-left {
		width: 100%;
		float: none;
	}
	#informations .informations-icon {
		margin: 0 auto 1em;
		float: none;
	}
	#informations .informations-text {
		float: none;
		width: 100%;
		text-align: center;
	}
	#informations .informations-grid-right {
		float: none;
		margin: 1em 0 1 0;
	}
	.agileits-line:before {
		left: 47px;
	}
	#contact .map .w3ls-title h3 {
		font-size: 1.5em;
	}
}
@media(max-width:480px){
	#informations .informations-grid {
		margin: 2em auto 0em;
	}
	#informations-bottom .text-grid h4 {
		font-size: 2em;
	}
	#informations-bottom .text-grid p {
		width: 100%;
	}
	#informations .informations-heading h2, #informations .informations-heading h3 {
		font-size: 2em;
	}
	#why-choose-us .why-choose-us-heading h2, #why-choose-us .why-choose-us-heading h3 {
		font-size: 2em;
	}
	#company-infomations .company-infomations-heading h2, #company-infomations .company-infomations-heading h3 {
		font-size: 2em;
	}
	#clientSA .clientSA-heading h2, #clientSA .clientSA-heading h3 {
		font-size: 2em;
	}
	.agileits-line:before {
		left: 40px;
	}
	#contact .address {
		width: 70%;
	}
}
@media(max-width:414px){
	.agileits-line:before {
		left: 33px;
	}
	#contact .map iframe {
		min-height: 400px;
	}
	#contact .address {
		padding: 2em 2em 2em 2em;
	}
}
@media(max-width:384px){
	#informations .informations-heading h2, #informations .informations-heading h3 {
		font-size: 1.5em;
	}
	#why-choose-us .why-choose-us-heading h2, #why-choose-us .why-choose-us-heading h3 {
		font-size: 1.5em;
	}
	#company-infomations .company-infomations-heading h2, #company-infomations .company-infomations-heading h3 {
		font-size: 1.5em;
	}
	#clientSA .clientSA-heading h2, #clientSA .clientSA-heading h3 {
		font-size: 1.5em;
	}	.agileits-line {
		width: 40%;
	}
	.agileits-line:before {
		left: 47px;
	}
	#contact .map .w3ls-title h3 {
		font-size: 1.2em;
	}
}
@media(max-width:320px){
	#informations-bottom .text-grid h4 {
		font-size: 1.5em;
	}
	.agileits-line:before {
		left: 43px;
	}
	#informations .informations-text h4 {
		font-size: 1.2em;
	}
	#informations .informations-heading h2, #informations .informations-heading h3 {
		font-size: 1.3em;
	}
	#why-choose-us .why-choose-us-heading h2, #why-choose-us .why-choose-us-heading h3 {
		font-size: 1.3em;
	}
	#company-infomations .company-infomations-heading h2, #company-infomations .company-infomations-heading h3 {
		font-size: 1.3em;
	}
	#clientSA .clientSA-heading h2, #clientSA .clientSA-heading h3 {
		font-size: 1.3em;
	}
	#informations .informations-grid-left {
		padding: 1em;
	}
	#contact .map iframe {
		min-height: 320px;
	}
	#contact .address {
		padding: 1em;
		width: 90%;
	}
}