#clients {
    /*color: #2184f9;*/
}
#clients .bg-client .bg-title {
    font-size: 80px;
    font-weight: bold;
    padding-top: 90px;
    color: white;
    text-transform: uppercase;
}
#clients .clients {
    background-color: #fafafa;
    padding: 0 80px 100px 80px;
}
#clients .clients .title-value {
    font-size: 36px;
    font-weight: bold;
    color: #082c44;
    text-transform: uppercase;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 80px;
}
#clients .clients .title-value span {
    margin-top: -30px;
    margin-left: -28px;
}
#clients .clients .separate-title {
    text-align: center;
    margin-top: -28px;
    padding-left: 25px;
}
#clients .clients .separate-title .content {
    border: 2.5px solid #082c44;
    width: 50px;
    margin: auto;
}
#clients .list-client .client-item {
    padding: 20px;
}
#clients .list-client .client-item .image-client {
    box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 1px 2px rgba(0,0,0,.5);
}
#clients .list-client .client-item .content {
    text-align: justify;
    padding: 20px 0;
}
@media screen and (max-width: 851px) {
    #clients .clients-introduction {
        padding: 20px 15px !important;
        height: auto !important;
    }
}