#contact .bg_header .title {
    font-size: 40px;
    font-weight: bold;
    padding-top: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
#contact .bg_header .content {
    font-size: 19px;
	color: #fff;
	text-align: center;
	max-width: 800px;
	margin: auto;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #contact .bg_header .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #contact .bg_header .title {
        font-size: 25px;
    }
}