/*Khai custom*/
/*-- banner --*/
#slider .banner{
    background: url(../../images/page/slides/parallax-image-1-1920x1010.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 650px;
    position: relative;
}
#slider .banner_text{
    text-align: center;
    margin: 11em 0 0 0;
}
#slider .banner_text h3{
    color: #FFFFFF;
    font-size: 4em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
#slider .banner_text p{
    color: #FFFFFF;
    font-size: 1em;
    margin: 3em 0;
    letter-spacing: 35px;
    text-transform: uppercase;
    font-weight: 600;
}
#slider .w3ls-line {
    position: relative;
    content: "";
    height: 1px;
    background: rgba(255, 255, 255, 0.52);
    width: 53%;
    margin: 0 auto;
    top: 11px;
}
#slider .w3ls-line:before {
    content: "";
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    width: 16%;
    top: -1px;
    left: 42%;
}
#slider .w3-button a{
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 3px #FFFFFF;
    text-decoration: none;
    border-radius: 0;
    margin: 0;
}
#slider .w3-button a:hover{
    color:#FFFFFF;
}
#slider .w3-button {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
/* General button style (reset) */
#slider .btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#slider .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1b */
#slider .btn-1 {
    border: 3px solid #fff;
    color: #fff;
}
#slider .btn-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #02bdd4;
}

#slider .btn-1b:hover,
#slider .btn-1b:active {
    color: #0e83cd;
}

#slider .btn-1b:hover:after,
#slider .btn-1b:active:after {
    height: 100%;
}
/*-- //banner --*/


.section-lg{
    padding: 80px 0;
}
#about-citynow{
    background-color: #f6f6f6;
}

#about-citynow h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#about-citynow h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}

#about-citynow .avatar-title {
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999;
    margin-top: 55px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    margin: 50px auto;
    border: 2px solid #126cae;
    max-width: 120px;
    max-height: 120px;
    padding: 25px;
    border-radius: 50%;
    transition: 850ms ease-in-out;
}
#about-citynow .row-title-item:hover .avatar-title{
    background-color: #02bdd4;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #02bdd4;
}

#about-citynow .row-title-item .content {
    letter-spacing: .02em;
    color: #838386;
    opacity: 1;
    margin: 50px 0px;  
    text-align: justify;
}
/*client*/
#client h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#client h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
#client .client-item{
    padding: 50px 0;
}
/*end client*/
/*client-say*/
#client-say h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#client-say h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
/*end client-say*/
/*work-at*/
#work-at{
    background-color: #02bdd4;
    padding: 150px 0;
}

#work-at .work-at .work-at-left h2{
    color: #e7e7e7;
    font-size: 40px;
    margin: 0;
}

#work-at .work-at .work-at-right .work-at-content p{
    text-align: left;
    color: #9e9e9e;
    font-size: 18px;
}

#work-at .work-at span{
    color: white;
    font-size: 24px;
}
#work-at .work-at .work-at-click a{
    color: #e7e7e7;
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-top: 30px;
    letter-spacing: 2px;
}
/*end work-at*/
#news{
    background-color: #f6f6f6;
}
#news .news-item{
    position: relative;
    max-width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    transition: 450ms ease-in-out;
    color: #1f2323;
    will-change: transform;
    background-color: #fff;
}
#news .news-item:hover {
    box-shadow: 0 0 15px rgba(41, 41, 58, 0.2);
}
#news .news-item a{
    overflow: hidden;
}
#news .news-item img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center center;
    transition: 750ms ease-in-out;
}

#news .news-item:hover img {
    transform: scale3d(1.05, 1.05, 1.05);
}

#news .news-item .caption {
    color: #1f2323;
    padding: 0px 30px;
}
#news .news-item .caption .caption-header{

}
#news .news-item .caption .caption-body a{
    color: #1f2323;
}
#news .news-item .caption .caption-body a:hover{
    color: #02bdd4;
    text-decoration: none;
}
#news .news-item .caption .caption-footer{
    border-top: 1px solid #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #949494;
}
#news .news-item .caption .caption-footer li i {
    padding-right: 15px;
}
/*news*/
#news h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#news h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}

#news .news-item .caption ul{
    list-style-type: none;
}
/*end news*/
@media(max-width:991px){
    #slider .banner_text h3 {
        font-size: 3em;
    }
    #slider .banner_text p {
        letter-spacing: 22px;
    }
    #slider .banner {
        min-height: 535px;
    }
    #slider .banner_text {
        margin: 9em 0 0 0;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
    #home .row-title .row-title-item .content {
        min-height: auto !important;
    }
    #home .title-value {
        padding: 10px 0 !important;
    }
    .bx-wrapper {
        margin-bottom: 30px !important;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }
    
}

@media screen and (max-width: 767px) {
    #home .row-title .row-title-item .content {
        min-height: auto !important;
    }
    #home .title-value {
        padding: 10px 0 !important;
    }
    #home ul.bxslider li img {
        height: 300px;
    }
    .bx-wrapper {
        margin-bottom: 30px !important;
    }
}
@media(max-width:667px){
    #slider .banner_text h3 {
        font-size: 3em;
    }
    #slider .banner_text p {
        letter-spacing: 16px;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }
    #slider .banner_text {
        margin: 6em 0 0 0;
    }
    #slider .banner {
        min-height: 440px;
    }
}
@media(max-width:480px){
    #slider .banner_text h3 {
        font-size: 2em;
    }
    #slider .banner_text p {
        letter-spacing: 8px;
    }
    #slider .banner {
        min-height: 380px;
    }
    #slider .banner_text {
        margin: 5em 0 0 0;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }
    #slider .banner_text p {
        margin: 3em 0 2em;
    }
    #slider .banner {
        min-height: 340px;
    }
}
@media(max-width:414px){
    #slider .banner_text p {
        letter-spacing: 5px;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }
}
@media(max-width:384px){
    #slider .banner_text {
        margin: 3em 0 0 0;
    }
    #slider .banner {
        min-height: 300px;
    }
    #slider .banner_text p {
        letter-spacing: 3px;
    }
}
@media(max-width:320px){
    #slider .banner_text h3 {
        font-size: 1.5em;
    }
    #slider .banner_text p {
        margin: 2em 0 1em;
    }
    #slider .banner_text p {
        letter-spacing: 2px;
    }
    #slider .banner {
        min-height: 250px;
    }
    #slider .w3ls-line:before {
        left: 42%;
    }

}
