
#job {
}
#job .bg-job {}
#job .bg-job .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
#job .bg-job .content{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
#job .job {
    background-color: #fafafa;
    padding: 100px 0px 100px 0px;
}
/*#job .job h1{
    text-transform: uppercase;
    position: relative;
}
#job .job h1:before{
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}*/
#job .job .title-value {
    font-size: 32px;
    font-weight: bold;
    color: #082c44;
    padding-top: 50px;
    padding-bottom: 20px;
}
#job .job-detail .title, #job .form-apply .title {
    font-size: 28px;
    color: #222;
    text-transform: uppercase;
    line-height: normal;
    font-weight: bold;
}
#job .job-detail .content {
    font-size: 14px;
    line-height: 2;
}
#job .job-detail .content > div {
    padding: 10px 0;
}
#job .form-apply .btn {
    background-color: #2699FB;
    border-color: #2699FB;
    color: white;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #job .bg-job .title  {
        font-size: 30px;
    }
    #job .bg-job .content {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
    #job .job-detail .title, #job .form-apply .title {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    #job .bg-job .title {
        font-size: 25px;
    }
    #job .bg-job .content {
        font-size: 23px;
        font-weight: bold;
        color: white;
    }
    #job .job-detail .title, #job .form-apply .title {
        font-size: 20px;
    }
}