.manage .header {
    padding: 20px 10px;
    background: #ececec;
    width: 100%;
}
.manage .header .user-info {
    float: right;
    /*padding: 20px 0;*/
}
.manage .header .user-info .navbar-nav {
    margin: 0 !important;
}
.manage .header .user-info .navbar-nav li a{
    padding: 0 0 0 10px !important;
}
.manage .header .user-info a {
    padding-left: 20px;
}
.manage #menu ul {
    width:100%;
    height: 100vh;
    list-style:none;
    color: #999;
}
.manage #menu ul > li{
    padding: 5px;
    cursor: pointer;
}
.manage #menu ul > li a {
    width: 100%;
    display: block;
}
.manage #menu ul > li:hover a > i{
    color: red;
}
.manage #menu ul > li:focus a > i {
    background: none !important;
}
.manage #menu ul > li:hover {
    color: red;
    padding: 5px;
    /*background-color: #2ab27b;*/
}
.manage #menu ul > li:hover > a{
    width: 100%;
    color: red;
    text-decoration: none;
    /*background-color: #2ab27b;*/
}
.manage #menu ul > li> a.active, .manage #menu ul > li> a:active{
    color: red;
    text-decoration: none;
}
.cke_contents {
    height: 300px !important;
}
#content {
    width: 100%;
    padding: 20px;
}
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: 100%;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li.active > a {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100vh;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

td.day.active {
   background-color: #428bca;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    min-height: 200px !important;
}