#news-detail {
    /*color: #2184f9;*/
}
#news-detail .title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    border: 1px solid red;
}
#news-detail .news-image {
    /*padding: 20px 0;*/
}
#news-detail .content {
    padding: 20px 0;
}