
.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-service-detail .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-service-detail .content {

    text-align: center;
    max-width: 800px;
    margin: auto;
}
#bg-service-detail .content p {
    font-size: 19px;
    color: #fff;
}
#service-detail h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#service-detail h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
/*service detail*/


#service-detail .content {
    text-align: justify;
    padding: 15px 10px 40px 10px;
}
#service-detail .content p{
    font-size: 18px;
}
#service-detail .introduction {
    text-align: justify;
    padding: 30px 10px 15px 10px;
}
#service-detail .introduction p{
    font-size: 22px;
}
#service-detail .button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: .25s all ease;
}
#service-detail .button.button-primary{
    color: #082c44;
    background-color: #fff;
    border: 2px solid #082c44; 
    border-radius: 10px;

}
#service-detail .button.button-primary:hover {
    background-color: #082c44;
    border: 2px solid #082c44;
    color: #fff;
}
#service-detail a.button{
    text-decoration: none;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-service-detail .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #bg-service-detail .title{
        font-size: 25px;
    }
}
