
/*khai custom*/

.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-service .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-service .content {
    text-align: center;
    max-width: 800px;
    margin: auto;
}
#bg-service .content p {
    font-size: 19px;
    color: #fff;
}
/*end bg service*/
#service .service h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#service .service h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
div.service-tab-container{
    padding: 20px 0px 0px 0px;
    width: 100%;
    display: block;
}
.service-mobile {
    display: none;
}
div.service-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.service-tab-menu div.list-group {
    margin-bottom: 0;
}
div.service-tab-menu div.list-group > a{
    padding: 25px;
    font-size: 18px;
    background-color: #082c44;
    color: white;
    margin: 2px;
}
div.service-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.service-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.service-tab-menu div.list-group>a.active {
    background-color: #fff;
    color: #082c44;
    border: 1px solid #fff;
    box-shadow: 2px 2px 10px 2px #aaa;
    border-radius: 5px;
}
div.service-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 20px solid #fff;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-color: #082c44;
}
div.service-tab-content {
    /*background-color: #ffffff;*/
    /*padding-left: 20px;
    padding-top: 10px;*/
}
div.service-tab-content .service-image {
    text-align: center;
}

div.service-tab-content .title h3{
    padding: 10px 0px 15px 0px;
    color: #222;
    font-weight: bold;
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;

}
div.service-tab-content .title h3:before{
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -4px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #02bdd4 81%, #02bdd4 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.service-tab {
    min-height: 562px;
    /*border: 1px solid #ccc;*/
}

div.service-tab div.service-tab-content:not(.active){
    display: none;
}
div.service-tab-content .content{
    padding: 10px 30px 20px 70px;
}
/*button*/
#service .button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: .25s all ease;
}
#service .button.button-primary{
    color: #082c44;
    background-color: #fff;
    border: 2px solid #082c44; 
    border-radius: 10px;

}
#service a.button{
    text-decoration: none;
}
#service .button.button-primary:hover {
    background-color: #082c44;
    border: 2px solid #082c44;
    color: #fff;
}
/*end button*/
/*client*/
#client h1:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#client h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
#client .client-item-service {
    margin: 50px 0 100px 0;
}
/*end client*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-service .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #bg-service .title{
        font-size: 25px;
    }
}
@media screen and (max-width: 851px) {
    div.service-tab-container {
        display: none !important;
    }

    .service-mobile {
        display: block !important;
        margin: 50px 0;
    }
    .service-mobile .bx-wrapper{
        box-shadow: none;

        border: none;

        background: #fff;
    }
    #service .service-introduction {
        padding: 20px 15px !important;
    }

    #service {
    /*background-color: #fafafa;*/
    padding: 0 15px 0px 15px;
    /*min-height: 300px;*/
    }

    #service .service-mobile .serviceSlider .service-image img{
        text-align: center;
        width: 100px;
        margin: 0 auto;
    }
    .service-mobile .title{

    }
}
