* {
    margin:0;
    padding:0;
    outline:none
}
.clear {
    clear:both
}

.hide {
    display:none!important
}
.center {
    text-align:center
}
.left {
    float:left
}
.right {
    float:right
}

.middle {
    display:table-cell;
    vertical-align:middle
}

.auto-center {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.m5 {
    margin:5px
}

.m10 {
    margin:10px
}

.m15 {
    margin:15px
}

.m20 {
    margin:20px
}

.m25 {
    margin:25px
}

.m30 {
    margin:30px
}

.mt5 {
    margin-top:5px
}

.mt10 {
    margin-top:10px
}

.mt15 {
    margin-top:15px
}

.mt20 {
    margin-top:20px
}

.mt25 {
    margin-top:25px
}

.mt30 {
    margin-top:30px
}

.mr5 {
    margin-right:5px
}

.mr10 {
    margin-right:10px
}

.mr15 {
    margin-right:15px
}

.mr20 {
    margin-right:20px
}

.mr25 {
    margin-right:25px
}

.mr30 {
    margin-right:30px
}

.mb5 {
    margin-bottom:5px
}

.mb10 {
    margin-bottom:10px
}

.mb15 {
    margin-bottom:15px
}

.mb20 {
    margin-bottom:20px
}

.mb25 {
    margin-bottom:25px
}

.mb30 {
    margin-bottom:30px
}

.mb40 {
    margin-bottom:40px
}

.mb45 {
    margin-bottom:45px
}

.mb50 {
    margin-bottom:50px
}

.ml5 {
    margin-left:5px
}

.ml10 {
    margin-left:10px
}

.ml15 {
    margin-left:15px
}

.ml20 {
    margin-left:20px
}

.ml25 {
    margin-left:25px
}

.ml30 {
    margin-left:30px
}

.mtn {
    margin-top:0
}

.mrn {
    margin-right:0
}

.mbn {
    margin-bottom:0
}

.mln {
    margin-left:0
}

.p5 {
    padding:5px
}

.p10 {
    padding:10px
}

.p15 {
    padding:15px
}

.p20 {
    padding:20px
}

.p25 {
    padding:25px
}

.p30 {
    padding:30px
}

.pt5 {
    padding-top:5px
}

.pt10 {
    padding-top:10px
}

.pt15 {
    padding-top:15px
}

.pt20 {
    padding-top:20px
}

.pt25 {
    padding-top:25px
}

.pt30 {
    padding-top:30px
}

.pt35 {
    padding-top:35px
}

.pr5 {
    padding-right:5px
}

.pr10 {
    padding-right:10px
}

.pr15 {
    padding-right:15px
}

.pr20 {
    padding-right:20px
}

.pr25 {
    padding-right:25px
}

.pr30 {
    padding-right:30px
}

.pr50 {
    padding-right:50px
}


.pb5 {
    padding-bottom:5px
}

.pb10 {
    padding-bottom:10px
}

.pb15 {
    padding-bottom:15px
}

.pb20 {
    padding-bottom:20px
}

.pb25 {
    padding-bottom:25px
}

.pb30 {
    padding-bottom:30px
}

.pl5 {
    padding-left:5px
}

.pl10 {
    padding-left:10px
}

.pl15 {
    padding-left:15px
}

.pl20 {
    padding-left:20px
}

.pl25 {
    padding-left:25px
}

.pl30 {
    padding-left:30px
}

.pl50 {
    padding-left:50px
}

.ptn {
    padding-top:0
}

.prn {
    padding-right:0
}

.pbn {
    padding-bottom:0
}

.pln {
    padding-left:0
}

.circle {
    border-radius:50%
}