/*khai custom*/
.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-stories .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-stories .content {

    text-align: center;
    max-width: 800px;
    margin: auto;
}
#bg-stories .content p {
    font-size: 19px;
    color: #fff;
}

/*stories*/
#stories h1:before{
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#stories h1 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}
#stories .list-stories {
    margin: 80px 0;
}

#stories {
}
#stories .bg-story .bg-title {
    font-size: 40px;
    font-weight: bold;
    padding-top: 120px;
    color: white;
    text-transform: uppercase;
}
#stories .bg-story .content {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    max-width: 800px;
    margin: auto;
}
#stories .stories {
    padding-bottom: 100px;
}
#stories .list-stories {
}
#stories .list-stories .news-item {
    padding: 60px 0;
    border-top: 1px solid #082c44;
}
#stories .list-stories .news-item:first-child {
    padding-top: 0px;
    border-top: none;
}
#stories .list-stories .news-item .title-news {
    font-size: 18px;
}
#stories .list-stories .news-item .title-news a {
    color: #1f2323;
    font-size: 22px;
    text-decoration: none;
    transition: 450ms ease-in-out;
}
#stories .list-stories .news-item:hover .title-news a {
    color: #02bdd4;
}
#stories .list-stories .news-item .image-stories{
    overflow: hidden;
    padding-left: 0px;
    padding-right: :0px;
}
#stories .list-stories .news-item .image-stories img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 750ms ease-in-out;
}
#stories .list-stories .news-item .image-stories:hover img{
    transform: scale3d(1.05, 1.05, 1.05);
}
#stories .list-stories .news-item .create-at {
    font-size: 12px;
    padding-top: 10px;
}
#stories .list-stories .news-item .create-at i{
    padding-right: 8px;
}
#stories .list-stories .news-item .content {
    padding-top: 15px;
    text-align: justify;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
}

#stories .list-stories .news-item .show-more {
    text-align: right;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #02bdd4;
    color: #02bdd4;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    transition: 450ms ease-in-out;
}
#stories .list-stories .news-item .show-more:hover {
    background-color: #02bdd4;
    color: #fff;
    border: 1px solid #fff;
}
ul.pagination li {
    width: 30px;
    height: 40px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #2699fb;
    border-color: #2699fb;
    cursor: default;
}
figure.image {
    text-align: center;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-stories .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 985px) {
    #stories .list-stories .news-item .title-news {
        margin-top: 30px!important;
    }
    #stories .list-stories .news-item .title-news a{
        font-size: 18px!important;
    }
    #stories .list-stories .news-item .show-more {
        font-size: 14px;
        margin-top: 13px;
        padding: 6px 10px;
    }
}
@media screen and (max-width: 1024px) {
    #bg-stories .title{
        font-size: 25px;
    }
}

/*end stories*/