#story-detail {
}
#story-detail .story-detail {
    padding: 0 0px 100px 0px;
}
#story-detail .story-detail .title-value {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    padding-top: 120px;
    padding-bottom: 20px;
}
#story-detail .story-detail .content {
    padding-top: 40px;
}

#story-detail .latest-story {
    padding-bottom: 100px;
}

#story-detail .latest-story h2:before {
    content: '';
    width: 178px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: #02bdd4;
    background: -webkit-gradient(linear,left top, right top,color-stop(81%, #02bdd4), color-stop(81%, #fff), color-stop(89%, #fff), color-stop(89%, #02bdd4), to(#02bdd4));
    background: linear-gradient(to right,#02bdd4 81%, #fff0 81%, #fff0 89%, #02bdd4 89%, #02bdd4 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#story-detail .latest-story h2 {
    margin: 50px 0px;
    text-transform: uppercase;
    position: relative;
}

#story-detail .latest-story .latest-story-item {
    margin-bottom: 30px;
    padding: 15px;
    transition: 450ms ease-in-out;
}
#story-detail .latest-story .latest-story-item:hover {
    box-shadow: -1px 0px 7px -4px;
}

#story-detail .latest-story .latest-story-item .latest-story-image img {
    width: 100%;
}

#story-detail .latest-story .latest-story-item .details {
    padding: 0px 0px;
    /*border: 1px solid red;*/
    min-height: 260px;
}

#story-detail .latest-story .latest-story-item .title {
    font-size: 18px;
    overflow: hidden;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 0;
}
#story-detail .latest-story .latest-story-item .title a {
    color: #222;
    transition: 450ms ease-in-out;
    text-decoration: none;
}
#story-detail .latest-story .latest-story-item .title:hover a {
    color: #02bdd4;
}
#story-detail .latest-story .latest-story-item .content {
    height: 110px;
    overflow: hidden;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
}

#story-detail .latest-story .latest-story-item .create-at {
    font-size: 12px;
    text-align: left;
    padding: 15px 0px;
}

#story-detail .latest-story .latest-story-item .create-at i {
    padding-right: 8px;
}

#story-detail .latest-story .latest-story-item .show-more {
    padding-top: 20px;

}
#story-detail .latest-story .latest-story-item .show-more a{
    color: #02bdd4;
    text-decoration: none;
    transition: 450ms ease-in-out;
}
#story-detail .latest-story .latest-story-item .show-more:hover a{
    border: #02bdd4 solid 1px;
    color: white;
    background-color: #02bdd4;
    padding: 7px 10px;
    border-radius: 3px;
}



/*custom*/

.section-lg{
    padding: 100px 0;
}
.title {
    background: none !important;
}
#bg-story-detail .title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    margin-bottom: 2rem;
}
#bg-story-detail .content {
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: white;
}
#bg-story-detail  .content p{
    font-size: 19px;
    color: #fff;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #bg-story-detail .title {
        font-size: 30px;
    }
    #story-detail .story-detail .title-value {
        font-size: 25px;
    }
}
@media screen and (max-width: 1024px) {
    #bg-story-detail .title{
        font-size: 25px;
    }
    #story-detail .story-detail .title-value {
        font-size: 20px;
    }
} 