@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Medium-vi.ttf) format("tff");
}
body {
    font-size: 16px;
    /*font-family: 'Montserrat', sans-serif !important;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, [class^='heading-'] a {
    display: inline;
    color: inherit;
    transition: .3s all ease;
}
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

.bg_header {
    background-color: #0000004d;
    padding: 80px 0;
}

/*khai custom */
/*header*/
#nav .navbar-info {
    width: 100%;
    
}
#nav nav.navbar {
    margin: 0 ;
    padding: 30px 0;
    border: none ;
}
#nav .navbar-info .navbar-default {
    background-color: #fff;
}

.fixed-me{
    transition: all 1s ;
}

.fixed-me{
    background-color:#fff !important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    z-index:999999;
    width: 100%;
    border-bottom: 3px solid #ccc !important;
    
}

.navbar-me {
    
   transition: all 1s ;
}
.header-right-menu{
 padding: 5px 15px !important;   
    
}
.navbar-header .navbar-brand {
    position: relative;
    top: -20px;
}
.navbar-header a {
    display: inline-block;
}
.site-logo{
    padding: 15px 20px !important; 
    margin: 15px 10px !important;
}
.navbar-me{
    padding: 10px 0px;
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
}
.navbar-collapse{
    text-align: center;
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 30px 10px 15px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #29293a;
}
.navbar-content li a {
    text-transform: uppercase;
    font-size: 18px;
    transition: 450ms ease-in-out;
}
#nav .navbar-nav li:hover > a, .navbar-default .navbar-nav li:focus > a {
    color: #02bdd4;
    /*background-color: #02bdd4;*/
}
#nav .navbar-nav li.active > a {
    color: #02bdd4;
    background: none !important;
}

/*end header*/

/*End Menu*/


/*Footer*/

#footer{
    background-color: #2699FB;
    color: white;
    padding-top: 10px;
    font-size: 12px;
    margin-top: 0;
}
#footer .footer {
    background-color: #2699FB;

}
#footer .footer .footer-contact {
}

#footer .footer .footer-contact i {
    font-size: 16px;
    margin-right: 15px;
}

#footer .footer .separate-footer {
    border: 1px solid #ccc;
    margin: 0 50px;
}

#footer .footer .footer-contact .footer-logo {}

#footer .footer .footer-contact .title-footer {
    font-weight: 400;
    font-size: 18px;
}

#footer .footer .footer-contact .social-link .fa {
    color: white;
}

#footer .footer .footer-contact .contact-line {
    padding-bottom: 20px;
}

#footer .footer .footer-contact .contact-line:last-child {
    padding-bottom: 55px;
}

#footer .footer .copyright {
    padding: 25px 65px 50px 65px;
}

#footer .footer .copyright .copyright-text {
    text-align: left;
}

#footer .footer .copyright .copyright-social {
    text-align: right;
}

#footer .footer .copyright .copyright-social a {
    color: white;
    padding-right: 25px;
    display: inline-block;
}

#footer .footer .copyright .copyright-social a:last-child {
    padding-right: 0;
}

/*End Footer*/

.custom-container .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .navbar-content li a {
        text-transform: uppercase;
        font-size: 15px;
    }
    #nav .nav li a {
        padding: 10px 6px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .navbar-content li a {
        text-transform: uppercase;
        font-size: 14px;
    }
    #nav .navbar-me {
        display: flex;
        vertical-align: center;
        justify-content: center;
        flex-direction: column;

    }
    #footer .footer .footer-contact .text-right {
        display: none;
    }
    #footer .footer .footer-contact{
        padding: 0 60px;
    }
    #nav .nav li a {
        padding: 10px 6px;
    }
    #nav img {
        max-width: 90%;
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    #footer .footer .footer-contact{
        padding: 0 40px;
    }
    #footer .footer .copyright .copyright-social {
        display: none;
    }
    #footer .footer .copyright .copyright-text {
        text-align: center!important;
    }
    #nav .navbar-nav li:hover > a, .navbar-default .navbar-nav li:focus > a {
        color: #fff;
        background-color: #02bdd4;
    }
    #nav .navbar-nav li.active > a {
        color: #fff;
        background: #02bdd4 !important;
    }
    #nav img {
        max-width: 90%;
    }
}
@media screen and (max-width: 320px) {
        #nav img {
        max-width: 70%;
    }
}
